hr {
    border-top: 2px solid gray;
}


.plot-and-dropdown-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.comparative-line-plot-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown-container {
    display: grid;
    width: 90%;
    grid-template-rows: auto auto auto auto;
    grid-gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown-button {
    width: 100%;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.file-upload-button {
    width: 100%;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.app-div {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.data-table-div {
    width: 710px;
    height: 300px;
    margin: 5px 0px 5px 0px;
    border-style: solid;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.title-and-ylabel-input {
    width: 100%;
    height: 35px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.tag-input {
    width: 100%;
    height: 35px;
    margin: 5px 0px 5px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.max-yval-input {
    width: 100%;
    height: 35px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.radio-items {
    display: inline-block;
    text-align: left;
    margin: 5px 0px 5px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.radio-items-input [type="radio"] {
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.line-plot-and-datatable-container {
    display: grid;
    width: 90%;
    grid-template-rows: auto auto;
    grid-gap: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.line-plot {
    border-style: solid;
    border-radius: 10px;
    height: 700px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;

}

.comparative-line-plot-header {
    text-align: center;
    margin: 5px 0px 5px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #047cc4;
}

.LIBRA-variable-input-header {
    text-align: center;
    margin: 5px 0px 5px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #047cc4;
}

.comparative-line-plot {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-radius: 10px;
    height: 420px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.tag-input-header {
    text-align: center;
    font-weight: bold;
    margin: 10px 0px 5px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #047cc4;
}

@media(max-width: 500px) {
    .dropdown-container {
        grid-template-columns: 1fr;
    }
}